.v-footer {
	font-size: 14px;
}

.v-select {
	//width: 30%;
	margin: 0 auto;

	&__selections {
		font-size: 12px;
	}
}

.v-list-item {
	&__title {
		font-size: 12px !important;
	}
}

.container {
	max-width: calc(100vw - 3rem) !important;
	margin: 0 1rem !important;
	padding: 0 !important;
}
